.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 20px 17px;
    margin: 51px auto 0;
}

@media (min-width: 985px) {
    .cards {
        width: 880px;
    }
}

@media(max-width: 984px) {
    .cards {
        width: 581px;
    }
}

@media (max-width: 633px) {
    .cards {
        width: 282px;
    }
}