.profile {
    display: flex;
}

@media (min-width: 920px) {
    .profile {
        width: 880px;
    }
}

@media (max-width: 919px) {
    .profile {
        width: 700px;
    }
}

@media (min-width: 720px) {
    .profile {
        margin: 40px auto 0;
        align-items: center;
    }
}

@media (max-width: 719px) {
    .profile {
        width: 288px;
        margin: 42px auto 0;
        justify-content: center;
        flex-wrap: wrap;
    }
}