.form__title {
    font-weight: 900;
    margin: 0;
}

@media(min-width: 720px) {
    .form__title {
        font-size: 24px;
        line-height: 29px;
        max-width: 330px;
        margin: 0 0 36px 0;
        box-sizing: border-box;
    }
}

@media (max-width: 719px) {
    .form__title {
        margin: 0 0 75px 0;
        font-size: 18px;
        line-height: 21px;
        max-width: 238px;
    }
}