.profile__about-me {
    color: #fff;
}

@media (min-width: 720px) {
    .profile__about-me {
        font-size: 18px;
        line-height: 22px;
        margin: 16px 0 0;
    }
}

@media (max-width: 719px) {
    .profile__about-me {
        font-size: 14px;
        line-height: 19px;
        margin: 14px 0 0 0;
        text-align: center;
    }
}