.card__like {
    background: url('../../../images/like.svg');
    object-fit: cover;
    object-position: center;
    width: 22px;
    height: 19px;
    border: 0;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
}

.card__like:hover {
    opacity: 0.5;
}